.avatar_user{
    margin-right: 15px;
    color: white;
    font-size: 150%;
    /* margin-bottom: 30px; */
    padding-bottom: 25px;
}
.avatar_notify{
    padding-right: 30px;
}
.avatar_cart{
    padding-right: 30px;
}
.head_user{
    flex: 1;
    flex-direction: row-reverse;
    display: flex;
}
.header{
    padding: 0px;
    background-color: #FF6000;
    display: flex;
}

.button-login{
    background-color: brown;
    color: white;
    font-size: 20px;
    line-height: 1;
    border-style: none;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    height: 40px;
}
.menu_avatar{
    font-size: 18px;
}