.home_search {
    border-bottom: 1px solid #e4e4e4;
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.home_search select,
.home_search input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 8px 5px 6px 10px;
    margin-left: 1px;
    width: 200px;
}
.home_search button {
    margin-left: 1px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    color: white;
    font-size: 18px;
    background-color: #ff6600;
    cursor: pointer;
}
.home_search button:hover {
    background-color: #ff8800;
    box-shadow: 0px 0px 4px -1px #ff8800;
}
.home_search_input_number {
    display: flex;
    align-items: center;
}
.home_search_input_number input {
    width: 100px;
}
.home_search_input_number input::-webkit-outer-spin-button,
.home_search_input_number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.detail_product_promotion {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: #ff6600;
    padding: 5px 10px;
    border-radius: 3px;
}
.price_product_no_promotion {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.price_product_no_promotion .price_product {
    width: auto;
    color: #888888;
    text-decoration: line-through;
}
.promotion_show_index {
    /* background-color: #ff6600; */
    /* height: 50px; */
    text-align: center;
    padding: 20px 0 50px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.promotion_show_index p {
    font-size: 28px;
}
.promotion_show_index_div {
    font-size: 20px;
}
.carousel1 {
    background-color: #ff6600;
    color: white;
}
.carousel2 {
    background-color: rgb(54 77 121);
    color: white;
}
.carousel3 {
    background-color: #ffee00;
    color: rgb(0, 0, 0);
}
