.margin{
    background-color: #ff0000;
}

.sider{
    background-color: #ff0000;
}
.menu{
    background-color: #ff6000;
    padding: 10px 5px;
    margin: 20px 1px;
    font-size: 20px;
    border-right: 0;
}


.ant-menu-item-selected{
    background-color: #ff0000 !important;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
}