.margin{
    background-color: #ff0000;
}

.sider{
    background-color: #ff0000;
}
.menu{
    background-color: #ff6000;
    padding: 10px 5px;
    margin: 20px 0px;
    font-size: 20px;
    border-right: 0;
}
.menu_item:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
}


.ant-menu-item-selected{
    background-color: #ff0000 !important;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
}
.menu_item::after{
    border-right: #ff6000 !important;
}